.tree-line-even {
  background-color: rgb(255, 255, 255);
}

.tree-line-odd {
  background-color: rgb(240, 240, 248);
}

.tree-widget-list > .tree-line:first-child {
  border-top: 1px solid rgb(220, 220, 220);
}

.tree-line {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.tree-line-add {
  text-decoration: underline;
}

.tree-line-add:hover {
  cursor: pointer;
}

.tree-line-edit:hover {
  cursor: pointer;
}